.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:nth-last-child(4) svg,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:nth-last-child(4) svg {
  display: none !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a {
  background: rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  height: 24px !important;
  padding: 0px 8px !important;
  box-sizing: border-box !important;
  transition: 200ms ease-in-out;
  margin-left: 4px !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:hover,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:hover,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a:hover,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a > div,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a > div,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div > div,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div > div {
  background: none !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] img,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] img {
  margin-right: 4px !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add {
  margin-left: 4px !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:last-child,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:last-child {
  box-shadow: none !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:first-child,
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:first-child {
  padding-left: 0 !important;
  font-weight: 300 !important;
  color: rgba(255, 255, 255, 0.6) !important;
}
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:nth-child(2),
.--nst_tweak-db-controls-buttons .notion-dark-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:nth-child(2) {
  width: 18px !important;
  justify-content: flex-end !important;
  box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.05) !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:nth-last-child(4) svg,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:nth-last-child(4) svg {
  display: none !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a {
  background: rgba(0, 0, 0, 0.05) !important;
  border-radius: 4px !important;
  height: 24px !important;
  padding: 0px 8px !important;
  box-sizing: border-box !important;
  transition: 200ms ease-in-out;
  margin-left: 4px !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:hover,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div:hover,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a:hover,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a > div,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > a > div,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div > div,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] > div > div {
  background: none !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] img,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] img {
  margin-right: 4px !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add {
  margin-left: 4px !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:last-child,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:last-child {
  box-shadow: none !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:first-child,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:first-child {
  padding-left: 0 !important;
  color: rgba(55, 53, 47, 0.6) !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:nth-child(2),
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:nth-child(2) {
  width: 18px !important;
  justify-content: flex-end !important;
  box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.05) !important;
}
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:nth-child(2) svg,
.--nst_tweak-db-controls-buttons .notion-light-theme .notion-collection_view_page-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] .notion-collection-view-item-add div:nth-child(2) svg {
  fill: rgba(55, 53, 47, 0.6) !important;
}
.--nst_tweak-db-controls-visible .notion-collection_view-block [style="display: flex; align-items: center; height: 42px; padding-bottom: 2px;"] [style^="display: flex; align-items: center; margin-left: auto;"] {
  opacity: 1 !important;
}
.--nst_tweak-header-cell-row-background .notion-dark-theme .notion-table-view [style^='display: flex; position: absolute; background: rgb(47, 52, 55); z-index: 83;'] {
  background: #2a2f31 !important;
  border-radius: 4px;
}
.--nst_tweak-header-cell-row-background .notion-dark-theme .notion-table-view-header-cell .notion-focusable[style*="background: rgba(255, 255, 255, 0.1)"] {
  background: #222627 !important;
}
.--nst_tweak-header-cell-row-background .notion-light-theme .notion-table-view [style*='z-index: 83;'] {
  background: #f2f2f2 !important;
  border-radius: 4px;
}
.--nst_tweak-header-cell-row-background .notion-light-theme .notion-table-view-header-cell .notion-focusable[style*="background: rgba(255, 255, 255, 0.1)"] {
  background: #e3e3e3 !important;
}
.--nst_tweak-centered-cells .notion-collection-item > div > div {
  display: flex !important;
  justify-content: center !important;
}
.--nst_tweak-rounded-table-checkboxes .notion-table-view .notion-collection-item [style*="padding: 8px;"] {
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.--nst_tweak-rounded-table-checkboxes .notion-table-view .notion-collection-item [style*="padding: 8px;"] [style^='width: 16px; height: 16px;'] {
  background: rgba(0, 0, 0, 0.1);
  width: 20px !important;
  height: 20px !important;
  padding: 4px !important;
  border-radius: 16px !important;
  overflow: hidden !important;
}
.--nst_tweak-rounded-table-checkboxes .notion-table-view .notion-collection-item [style*="padding: 8px;"] [style^='width: 16px; height: 16px;'] .notion-focusable {
  border-radius: 16px !important;
  width: 20px !important;
  height: 20px !important;
}
.--nst_tweak-rounded-table-checkboxes .notion-table-view .notion-collection-item [style*="padding: 8px;"] [style^='width: 16px; height: 16px;'] .notion-focusable .checkboxSquare {
  display: none !important;
}
.--nst_tweak-rounded-table-checkboxes .notion-table-view .notion-collection-item [style*="padding: 8px;"] [style^='width: 16px; height: 16px;'] .notion-focusable .check {
  margin-bottom: 7px;
}
.--nst_tweak-centered-header-labels .notion-table-view-header-cell > div {
  justify-content: center !important;
}
.--nst_tweak-rounded-list-checkboxes .notion-list-view .notion-collection-item a div div [style^="width: 16px; height: 16px;"] {
  border: 1px solid #838a91;
  border-radius: 100%;
  height: 16px !important;
  width: 16px !important;
  margin: 0;
}
.--nst_tweak-rounded-list-checkboxes .notion-list-view .notion-collection-item a div div [style^="width: 16px; height: 16px;"] > div {
  border-radius: 100% !important;
}
.--nst_tweak-rounded-list-checkboxes .notion-list-view .notion-collection-item a div div [style^="width: 16px; height: 16px;"] svg[class="checkboxSquare"] {
  display: none !important;
}
.--nst_tweak-rounded-list-checkboxes .notion-list-view .notion-collection-item a div div [style^="width: 16px; height: 16px;"] svg[class="check"] {
  height: 8px !important;
}
.--nst_tweak-rounded-list-checkboxes .notion-list-view .notion-collection-item a div div [style*="background: rgb(46, 170, 220);"] {
  border: 1px solid #2eaadc;
}
.--nst_tweak-board-simple-cards .notion-dark-theme .notion-board-view .notion-collection-item a {
  box-shadow: none !important;
  border-radius: 6px !important;
  background: #272b2e !important;
}
.--nst_tweak-board-simple-cards .notion-dark-theme .notion-board-view .notion-collection-item a > div[style*="background: rgb(63, 68, 71)"] {
  background: hsl(206, 9%, 18%) !important;
}
.--nst_tweak-board-simple-cards .notion-light-theme .notion-board-view .notion-collection-item a {
  box-shadow: none !important;
  border-radius: 6px !important;
  background: #f6f6f6 !important;
}
.--nst_tweak-board-simple-cards .notion-light-theme .notion-board-view .notion-collection-item a > div[style*="background: rgb(63, 68, 71)"] {
  background: hsl(0, 0%, 95%) !important;
}
.--nst_tweak-gallery-simple-cards .notion-dark-theme .notion-gallery-view .notion-collection-item a {
  box-shadow: none !important;
  border-radius: 6px !important;
  background: #272b2e !important;
}
.--nst_tweak-gallery-simple-cards .notion-dark-theme .notion-gallery-view .notion-collection-item a > div[style*="background: rgb(63, 68, 71)"] {
  background: hsl(206, 9%, 18%) !important;
}
.--nst_tweak-gallery-simple-cards .notion-light-theme .notion-gallery-view .notion-collection-item a {
  box-shadow: none !important;
  border-radius: 6px !important;
  background: #f6f6f6 !important;
}
.--nst_tweak-gallery-simple-cards .notion-light-theme .notion-gallery-view .notion-collection-item a > div[style*="background: rgb(63, 68, 71)"] {
  background: hsl(0, 0%, 95%) !important;
}
<<<<<<< Updated upstream
.--nst_tweak-centered-header-labels .notion-table-view-header-cell > div {
  justify-content: center !important;
}
.--nst_tweak-page-covers-inset [style='width: 100%; cursor: inherit;'] [style='width: 100%; height: 100%;'] {
=======
.--nst_tweak-page-covers-inset .pseudoSelection [style='width: 100%; cursor: inherit;'] [style='width: 100%; height: 100%;'] {
>>>>>>> Stashed changes
  padding: 0px 40px;
}
.--nst_tweak-page-covers-inset img[style^='display: block; object-fit: cover;'] {
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0px 8px 20px -2px rgba(0, 0, 0, 0.2) !important;
  z-index: 100 !important;
}
.--nst_tweak-page-covers-inset [style^='user-select: none; --pseudoSelection--background:transparent; width: 100%;'] {
  z-index: 4 !important;
}
.--nst_tweak-page-covers-inset .whenContentEditable [style^='width: 100%; display: flex;'] {
  z-index: 5 !important;
  background: transparent !important;
}
.--nst_tweak-comfy-sidebar .notion-sidebar a [style^="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer;"],
.--nst_tweak-comfy-sidebar .notion-sidebar a [style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;"] {
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 12px !important;
}
.--nst_tweak-comfy-sidebar .notion-sidebar a [style^="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer;"] .notion-record-icon,
.--nst_tweak-comfy-sidebar .notion-sidebar a [style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;"] .notion-record-icon {
  margin: 0px 2px 2px 0px;
}
.--nst_tweak-comfy-sidebar .notion-sidebar a [style^="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer;"] .notion-record-icon svg,
.--nst_tweak-comfy-sidebar .notion-sidebar a [style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;"] .notion-record-icon svg,
.--nst_tweak-comfy-sidebar .notion-sidebar a [style^="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer;"] .notion-record-icon img,
.--nst_tweak-comfy-sidebar .notion-sidebar a [style="user-select: none; transition: background 20ms ease-in 0s; cursor: pointer; width: 100%;"] .notion-record-icon img {
  height: 16px !important;
  width: 16px !important;
}
.--nst_hider-view-type-icon svg.collectionList,
.--nst_hider-view-type-icon svg.collectionTable,
.--nst_hider-view-type-icon svg.collectionBoard,
.--nst_hider-view-type-icon svg.collectionCalendar,
.--nst_hider-view-type-icon svg.collectionTimeline,
.--nst_hider-view-type-icon svg.collectionGallery {
  display: none !important;
}
.--nst_hider-view-type-icon .notion-overlay-container [style="margin: 0px;"] > div > div :nth-child(3) {
  margin-left: 0 !important;
}
.--nst_hider-link-arrow svg.pageLinkIndicator {
  display: none !important;
}
.--nst_hider-link-arrow .notion-collection_view-block [style*="padding-bottom: 2px;"] [style*="margin-right: 6px;"] {
  margin-right: 0px !important;
}
.--nst_hider-header-icon .notion-table-view-header-cell div div [style="margin-right: 6px;"] {
  display: none !important;
}
.--nst_hider-header-row-border .notion-table-view [style*='z-index: 83;'] {
  box-shadow: none !important;
  border: none !important;
}
.--nst_hider-calculation-row .notion-table-view .pseudoSelection[style^='user-select: none;'] {
  display: none !important;
}
.--nst_hider-row-border .notion-collection-item {
  border-bottom: 1px solid transparent !important;
}
.--nst_hider-row-border .notion-table-view-add-row {
  border-top: none !important;
}
.--nst_hider-column-border .notion-table-view .notion-collection-item [style^='display: block;'] {
  border: none !important;
}
.--nst_hider-column-border .notion-table-view .notion-collection-item [style='display: flex;'] .notion-focusable {
  border-right: none !important;
}
.--nst_hider-page-underline .notion-list-view .notion-collection-item [style^="white-space: nowrap; overflow: hidden;"] {
  border-bottom: 0px !important;
  margin-bottom: 1px;
}
.--nst_hider-list-page-icon .notion-list-view .notion-collection-item .notion-record-icon {
  display: none !important;
}
.--nst_hider-page-header .notion-frame > div > div > [style='user-select: none; --pseudoSelection--background:transparent; width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0; z-index: 2;'] {
  display: none !important;
}
.--nst_hider-page-header .notion-frame div div div div div [style*="padding-left: calc(96px + env(safe-area-inset-left));"] {
  display: none !important;
}
.--nst_hider-database-header .notion-frame > div > [style='width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0; position: sticky; left: 0px;'] {
  display: none !important;
}
.--nst_hider-database-page-header .notion-frame .notion-scroller div [style="max-width: 100%; padding-left: calc(96px + env(safe-area-inset-left)); width: 100%;"] {
  display: none;
}
.--nst_hider-cover-image .notion-frame div div [style*="z-index: 2;"] {
  display: none !important;
}
.--nst_hider-new-page-button .notion-sidebar [style="display: block; flex: 0 0 auto; margin-top: auto;"] {
  display: none !important;
}
.--nst_hider-import-option .notion-sidebar div [style="flex-grow: 0; flex-shrink: 0;"] > div:nth-child(2) {
  display: none !important;
}
.--nst_hider-templates-option .notion-sidebar div [style="flex-grow: 0; flex-shrink: 0;"] > div:nth-child(1) {
  display: none !important;
}
